/* general */
body {
  margin: 0;
  background-image: url(/media/main/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}
* {
  font-family: "main";
  font-size: 18px;
  color: #ffad40;
}
h1 {
  font-family: "main";
  font-size: 38px;
}
a {
  text-decoration: none;
}
h2 {
  font-family: "main";
  font-size: 38px;
  color: white;
}
h3 {
  font-family: "main";
  font-size: 28px;
  color: white;
}
#text {
  font-family: "main";
  color: white;
  font-size: 18px;
}
#text__center {
  font-family: "main";
  color: white;
  font-size: 18px;
  display: grid;
  text-align: center;
}
#link {
  font-family: "bold";
  font-size: 18px;
}
hr {
  display: grid;
  margin: 0;
  margin-top: 3px;
  width: 50%;
  border: 1px solid #007241;
  margin-bottom: 1%;
}
#title__text {
  font-family: "main";
  color: white;
  font-size: 28px;
}
#block {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #00351e;
  padding: 1%;
}
@font-face {
  font-family: "bold";
  src: url(/media/fonts/ChironGoRoundTC-Bold.ttf);
}
@font-face {
  font-family: "main";
  src: url(/media/fonts/ChironGoRoundTC-Regular.ttf);
}
input {
  background-color: transparent;
  border: 2px solid;
}
/* header */
nav > ul {
  list-style: none;
}
.header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  background-color: rgb(21, 21, 21);
}
.header__inner {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  justify-self: center;
}
.title__header {
  margin-left: 70%;
  font-family: "main";
  font-size: 38px;
}
.search__inner {
  width: 100%;
}
.search {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10%;
  justify-self: center;
}
.button__header:hover {
  background-color: #ffad40;
  color: #00351e;
  border-color: #ffad40;
}
.button__header:active {
  transform: scale(0.9);
  background-color: #fe9a17;
  color: #00351e;
  border-color: #fe9a17;
}
input:focus {
  outline: none;
  color: white;
  border-color: #ffad40;
}
/* main */
.main__block {
  display: grid;
  background-color: rgb(27, 27, 27);
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
  margin-bottom: 5%;
}

.logo {
  display: grid;
  justify-content: center;
  margin-top: 2%;
}
.navigation__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin-top: 10%;
}
.navigation__main__inner > img {
  width: 60%;
  justify-self: center;
}
.navigation__main__inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-self: center;
}
.navigation__main__inner:hover {
  transform: scale(1.1);
}
footer {
  background-color: black;
  height: 10%;
  display: grid;
  align-items: center;
  text-align: center;
}
/* ep */
.ep__tlou {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.ep__tlou__inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-self: center;
}
.ep__tlou__inner > img {
  width: 90%;
  justify-self: center;
}
.ep__tlou__inner:hover {
  transform: scale(1.1);
}
.ep__tlou__dlc__inner > img {
  width: 90%;
  justify-self: center;
}
.ep__tlou__dlc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-self: center;
}
.ep__tlou__dlc__inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-self: center;
}
.ep__tlou__dlc__inner:hover {
  transform: scale(1.1);
}
.soon {
  align-content: center;
}
.soon__inner {
  justify-self: center;
  background-color: black;
  padding: 4%;
  border-radius: 10px;
}
.soon__text {
  color: white;
}
.button__back {
  display: grid;
  justify-self: center;
  width: 50%;
  height: 30%;
  background-color: #ffad40;
  color: white;
  border-color: #ffad40;
}
.button__back:hover {
  transform: scale(1.1);
}
.button__back:active {
  transform: scale(0.9);
  background-color: #fe9a17;
  border-color: #fe9a17;
}
/*deep*/
.deep {
  display: block;
}

.deep__submain {
  float: right;
  width: 300px;
  margin: 0 0 20px 20px;
  border: 1px solid #ffad40;
  padding: 15px;
  box-sizing: border-box;
}
.deep__submain__title {
  background-color: #ffad40;
  color: black;
  text-align: center;
  width: 100%;
}
.deep__main {
  display: block;
}
#hr__y {
  border-color: #ffad40;
  width: 100%;
}
#hr__w {
  border-color: white;
  width: 100%;
}
#hr__ww {
  border-color: white;
  width: 60%;
}
.content {
  border: 1px solid white;
  width: 40%;
}
.content__title {
  display: grid;
  text-align: center;
}
.ol__table {
  display: grid;
  gap: 10px;
}
.li__ol__table:hover {
  background-color: #ffac4075;
  border-radius: 5px;
}
#img__deep {
  width: 100%;
}
